body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}


.front-page{
    background-image: url('../images/bg-hero-desktop.svg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; 
    height: 100vh;
    padding: 0px 70px;
    margin-bottom: 70px;
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 60px;
        .logo{
        }
        .try-button{
            background-color: white;
            padding: 10px 50px;
            border: none;
            border-radius: 30px;
            font-size: 15.5px;
            font-weight: bold;
            box-shadow: 0 0 5px 2px #ebebeb;
        }
    }
    .fp-content-wrapper{
        display: flex;
        justify-content: space-between;
        .fp-content{
            width: 40%;
            color: hsl(192, 100%, 9%);
            .fp-title{
                font-family: 'Poppins', sans-serif;
                font-size: 36px;
                font-weight: bolder;
            }
            .fp-text{
                margin-bottom: 30px;
                line-height: 28px;
                font-weight: bold;
                color: hsl(192, 100%, 18%)
            }
            .getstarted-btn{
                background-color: hsl(322, 100%, 66%);
                color: white;
                font-weight: bold;
                border-radius: 30px;
                border: none;
                padding: 15px 50px;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .fp-image-wrapper{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            .img-wrapper{
                width: 105%;
            }
        }
    }
}

.cards{
    padding: 0px 120px;
    margin-bottom: 150px;
    .sections-wrapper{
        .content{
            box-shadow: 0 0 5px 2px #ebebeb;
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;
            border-radius: 20px;
            padding: 50px 0px 40px 80px;
            .content-text{ 
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .section-text{
                    color: hsl(192, 100%, 9%);
                    font-weight: bold;
                }
                .content-more{
                    color: hsl(208, 11%, 55%);
                }
            }
            .content-text-right{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                //align-items: flex-start;
                margin-left: 40px;
                padding-right: 15px;
                .section-text{
                    color: hsl(192, 100%, 9%);
                    font-weight: bold;
                }
                .content-more{
                    color: hsl(208, 11%, 55%);
                }
            }
            .content-img{
                width: 40%;
                //justify-content: flex-end;
                justify-content: space-between;
                margin-left: auto;
                .img-cards{
                    width: 90%;
                    margin-left: auto;
                }
            }
            .content-img-left{
                width: 40%;
                justify-content: flex-end;
                .img-cards-left{
                    width: 90%;
                }
            }
        }
    }
}

.footer{
    .footer-sign-wrapper{
        box-shadow: 0 0 5px 2px #ebebeb;
        width: 600px;
        border-radius: 20px;
    }
    .last-section-wrapper{
        background-color: hsl(192, 100%, 9%);
    }
}
