$mobile: 320px;
$tablet: 720px;
$first: 920px;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
    //height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.front-page{
    background: linear-gradient(rgba(141, 205, 221, 0.3), rgba(141, 205, 221, 0.3)), url('../images/bg-hero-desktop.svg');
    background-size: cover;
    //background-position: center bottom;
    //background-repeat: no-repeat; 
    height: 100vh;
    padding: 0px 10%;
    margin-bottom: 70px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media only screen and (max-width: $tablet){
        padding: 0px 5%;
    }
    @media only screen and (max-width: $mobile){
        padding: 0px 2%;
        margin-bottom: 40px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 60px;
        @media only screen and (max-width: $tablet){
            margin-bottom: 80px;
        }
        @media only screen and (max-width: $mobile){
            padding-top: 30px;
        }
        .header-logo-wrapper{
            width: 50%;
            .logo{
                @media only screen and (max-width: $mobile){
                    width: 80%;
                }
            }
        }
        .header-btn-wrapper{
            width: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            .try-button{
                background-color: white;
                cursor: pointer;
                padding: 15px 55px;
                border: none;
                border-radius: 30px;
                font-weight: bold;
                box-shadow: 0 0 5px 2px #ebebeb;
                @media only screen and (max-width: $mobile){
                    padding: 5px 18px;
                }
            }
        }
    }
    .fp-content-wrapper{
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: $first){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .fp-content{
            width: 38%;
            color: hsl(192, 100%, 9%);
            @media only screen and (max-width: $first){
                width:95%;
            }
            @media only screen and (max-width: $tablet){
                width: 100%;
            }
            .fp-title{
                font-family: 'Poppins', sans-serif;
                font-size: 36px;
                font-weight: bolder;
                @media only screen and (max-width: $first){
                    font-size: 32px;
                }
                @media only screen and (max-width: $tablet){
                    font-size: 28px;
                    margin-top: 0px;
                }
                @media only screen and (max-width: $mobile){
                    font-size: 26px;
                }
            }
            .fp-text{
                font-size: 16px;
                margin-bottom: 30px;
                line-height: 28px;
                //font-weight: bold;
                color: hsl(192, 100%, 18%)
            }
            .getstarted-btn{
                background-color: hsl(322, 100%, 66%);
                cursor: pointer;
                color: white;
                font-weight: bold;
                border-radius: 30px;
                border: none;
                padding: 15px 50px;
                font-family: 'Open Sans', sans-serif;
                @media only screen and (max-width: $first){
                    margin-bottom: 40px;
                }
            }
        }
        .fp-image-wrapper{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            @media only screen and (max-width: $tablet){
                width: 55%;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            @media only screen and (max-width: $mobile){
                width: 100%;
            }
            .img-wrapper{
                width: 105%;
                @media only screen and (max-width: $mobile){
                    width: 90%;
                }
            }
        }
    }
}

.cards{
    padding: 0px 10%;
    @media only screen and (max-width: $tablet){
        padding: 0% 7%;
    }
    @media only screen and (max-width: $mobile){
        padding: 0% 5%;
        //margin-bottom: 0px;
    }
    .sections-wrapper{
        .content{
            box-shadow: 0 0 5px 2px #ebebeb;
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;
            border-radius: 20px;
            padding: 5% 0% 4% 10%;
            @media only screen and (max-width: $mobile){
                flex-direction: column-reverse;
                padding: 5% 5% 3% 5%;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .content-text{ 
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media only screen and (max-width: $mobile){
                    width: 95%;
                }
                .section-title{
                    color: hsl(192, 100%, 9%);
                    font-weight: bold;
                    font-size: 26px;
                    @media only screen and (max-width: $mobile){
                        font-size: 22px;
                    }
                }
                .content-more{
                    color: hsl(208, 11%, 55%);
                    font-size: 15px;
                    line-height: 25px;
                    @media only screen and (max-width: $mobile){
                        margin-top: 0px;
                    }
                }
            }
            .content-img{
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                @media only screen and (max-width: $tablet){
                    width: 50%;
                    display: flex;
                    justify-content: center; 
                }
                @media only screen and (max-width: $mobile){
                    margin: 0px;
                    width: 90%;
                }
                .img-cards{
                    width: 90%;
                    margin-left: auto;
                    @media only screen and (max-width: $mobile){
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .content-middle{
            box-shadow: 0 0 5px 2px #ebebeb;
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;
            border-radius: 20px;
            padding: 5% 0% 4% 10%;
            @media only screen and (max-width: $tablet){
                padding: 5% 1% 4% 6%;
            }
            @media only screen and (max-width: $mobile){
                flex-direction: column;
                padding: 5% 5% 3% 5%;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .content-text-right{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 15px;
                line-height: 25px;
                @media only screen and (max-width: $tablet){
                    width: 40%;
                }
                @media only screen and (max-width: $mobile){
                    width: 95%;
                    margin: 0px;
                    padding: 0px;
                }
                .section-title{
                    color: hsl(192, 100%, 9%);
                    font-weight: bold;
                    font-size: 26px;
                    @media only screen and (max-width: $mobile){
                        font-size: 22px;
                    }
                }
                .content-more{
                    color: hsl(208, 11%, 55%);
                    font-size: 15px;
                    @media only screen and (max-width: $mobile){
                        margin-top: 0px;
                    }
                }
            }
            .content-img-left{
                width: 40%;
                display:flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                @media only screen and (max-width: $tablet){
                    width: 45%;
                    display: flex;
                    justify-content: center; 
                }
                @media only screen and (max-width: $mobile){
                    margin: 0px;
                    width: 90%;
                }
                .img-cards-left{
                    width: 90%;
                    @media only screen and (max-width: $tablet){
                        width: 100%;
                        height: auto;
                    }
                    @media only screen and (max-width: $mobile){
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.mega-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-sign-wrapper{
        box-shadow: 0 0 2px 2px #ebebeb;
        background-color: white;
        width:40%;
        border-radius: 15px;
        padding: 4% 3% 4% 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;
        top: 70px;
        z-index: 1;
        @media only screen and (max-width: $tablet){
            width: 60%;
        }
        @media only screen and (max-width: $mobile){
            width: 87%;
            padding: 4% 3% 8% 3%;
            top: 100px;
        }
        .sign-title{
            color: hsl(192, 100%, 9%);
            font-size: 28px;
            font-weight: bold;
            @media only screen and (max-width: $mobile){
                font-size: 16px;
            }
        }
        .button-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .getstartedbtn-large{
                background-color: hsl(322, 100%, 66%);
                cursor: pointer;
                color: white;
                font-size: 14px;
                font-weight: bold;
                border:none;
                border-radius: 25px;
                width: 280px;
                padding: 3% 10%;
                box-shadow: 0px 5px 5px #d3d3d3;
                &:focus{
                    outline: none;
                }
                @media only screen and (max-width: $mobile){
                    width: 70%;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    .last-section-wrapper{
        background-color: hsl(192, 100%, 9%);
        padding: 10% 10% 0px 15%;
        //margin-top: 200px;
        color: white;
        @media only screen and (max-width: $first){
            padding: 15% 0% 0% 10%;
        }
        @media only screen and (max-width: $tablet){
            padding: 20% 0% 0% 5%;
        }
        @media only screen and (max-width: $mobile){
            padding: 30% 0% 0% 4%;
            margin-top: 50px;
        }
        .footer-logo-wrapper{
            //display: flex;
            flex-direction: column;
            .footer-logo{
                //width: 240px;
                height: 39px;
                path{
                    fill:white;
                }
            }
        }
        .bottom-options{
            display: flex;
            justify-content: space-between;
            padding: 5% 10% 0px 0px;
            @media only screen and (max-width: $tablet){
                padding: 5% 3% 0px 0px; 
            }
            @media only screen and (max-width: $mobile){
                flex-direction: column;
                padding: 8% 3% 0% 0%;
            }
            .contact-wrapper{
                width: 40%;
                @media only screen and (max-width: $mobile){
                    width: 95%;
                }
                .contact-info{
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                    li{
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        .data-icon{
                            height: 100%;
                            width: 18px;
                        }
                        p{
                            margin:0;
                            padding-left: 10%;
                            line-height: 25px;
                            font-family: 'Poppins', sans-serif;;
                        }
                    }
                }
            }
            .links-wrapper{
                //height: 50px;
                .links-list{
                    list-style-type: none;
                    text-decoration: none;
                    margin: 0px;
                    padding-left: 15px;
                    @media only screen and (max-width: $mobile){
                        padding: 0px;
                    }
                    .footer-links{
                        color: white;
                        text-decoration: none;
                        li{
                            padding-bottom: 15px;
                            &:hover{
                                color: hsl(322, 100%, 66%);
                            }
                        }
                    }
                }
            }
            .smlinks-wrapper{
                display: flex;
                height: 100%;
                @media only screen and (max-width: $mobile){
                    margin: 30px 0px 20px 0px;
                    justify-content: center;
                }
                .sm-link{
                    font-family: 'Poppins', sans-serif;
                    color: white;
                    border: 1px solid white;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    display: block;
                    text-decoration: none;
                    display:flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    margin-right: 15px;
                    &:hover{
                        color: hsl(322, 100%, 66%);
                        border-color: hsl(322, 100%, 66%);
                    }
                }
            }
        }
    }
}
.copyright-wrapper{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: white;
    padding-right: 10%;
    @media only screen and (max-width: $tablet){
        padding-right: 4%; 
    }
    @media only screen and (max-width: $mobile){
        justify-content: center;
    }
}
.challenge-data{
    background-color: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    .frontend-mentor{
        text-decoration: none;
        color: hsl(322, 100%, 66%);
    }
}
