body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.front-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 205, 221, 0.3)), to(rgba(141, 205, 221, 0.3))), url("../images/bg-hero-desktop.svg");
  background: linear-gradient(rgba(141, 205, 221, 0.3), rgba(141, 205, 221, 0.3)), url("../images/bg-hero-desktop.svg");
  background-size: cover;
  height: 100vh;
  padding: 0px 10%;
  margin-bottom: 70px;
  background-size: cover;
}

@media only screen and (max-width: 720px) {
  .front-page {
    padding: 0px 5%;
  }
}

@media only screen and (max-width: 320px) {
  .front-page {
    padding: 0px 2%;
    margin-bottom: 40px;
  }
}

.front-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 720px) {
  .front-page .header {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 320px) {
  .front-page .header {
    padding-top: 30px;
  }
}

.front-page .header .header-logo-wrapper {
  width: 50%;
}

@media only screen and (max-width: 320px) {
  .front-page .header .header-logo-wrapper .logo {
    width: 80%;
  }
}

.front-page .header .header-btn-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.front-page .header .header-btn-wrapper .try-button {
  background-color: white;
  cursor: pointer;
  padding: 15px 55px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px 2px #ebebeb;
          box-shadow: 0 0 5px 2px #ebebeb;
}

@media only screen and (max-width: 320px) {
  .front-page .header .header-btn-wrapper .try-button {
    padding: 5px 18px;
  }
}

.front-page .fp-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 920px) {
  .front-page .fp-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.front-page .fp-content-wrapper .fp-content {
  width: 38%;
  color: #00252e;
}

@media only screen and (max-width: 920px) {
  .front-page .fp-content-wrapper .fp-content {
    width: 95%;
  }
}

@media only screen and (max-width: 720px) {
  .front-page .fp-content-wrapper .fp-content {
    width: 100%;
  }
}

.front-page .fp-content-wrapper .fp-content .fp-title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bolder;
}

@media only screen and (max-width: 920px) {
  .front-page .fp-content-wrapper .fp-content .fp-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 720px) {
  .front-page .fp-content-wrapper .fp-content .fp-title {
    font-size: 28px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .front-page .fp-content-wrapper .fp-content .fp-title {
    font-size: 26px;
  }
}

.front-page .fp-content-wrapper .fp-content .fp-text {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 28px;
  color: #00495c;
}

.front-page .fp-content-wrapper .fp-content .getstarted-btn {
  background-color: #ff52bf;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  padding: 15px 50px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 920px) {
  .front-page .fp-content-wrapper .fp-content .getstarted-btn {
    margin-bottom: 40px;
  }
}

.front-page .fp-content-wrapper .fp-image-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 720px) {
  .front-page .fp-content-wrapper .fp-image-wrapper {
    width: 55%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .front-page .fp-content-wrapper .fp-image-wrapper {
    width: 100%;
  }
}

.front-page .fp-content-wrapper .fp-image-wrapper .img-wrapper {
  width: 105%;
}

@media only screen and (max-width: 320px) {
  .front-page .fp-content-wrapper .fp-image-wrapper .img-wrapper {
    width: 90%;
  }
}

.cards {
  padding: 0px 10%;
}

@media only screen and (max-width: 720px) {
  .cards {
    padding: 0% 7%;
  }
}

@media only screen and (max-width: 320px) {
  .cards {
    padding: 0% 5%;
  }
}

.cards .sections-wrapper .content {
  -webkit-box-shadow: 0 0 5px 2px #ebebeb;
          box-shadow: 0 0 5px 2px #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 5% 0% 4% 10%;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5% 5% 3% 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.cards .sections-wrapper .content .content-text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content .content-text {
    width: 95%;
  }
}

.cards .sections-wrapper .content .content-text .section-title {
  color: #00252e;
  font-weight: bold;
  font-size: 26px;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content .content-text .section-title {
    font-size: 22px;
  }
}

.cards .sections-wrapper .content .content-text .content-more {
  color: #808d99;
  font-size: 15px;
  line-height: 25px;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content .content-text .content-more {
    margin-top: 0px;
  }
}

.cards .sections-wrapper .content .content-img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .cards .sections-wrapper .content .content-img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content .content-img {
    margin: 0px;
    width: 90%;
  }
}

.cards .sections-wrapper .content .content-img .img-cards {
  width: 90%;
  margin-left: auto;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content .content-img .img-cards {
    margin-bottom: 20px;
  }
}

.cards .sections-wrapper .content-middle {
  -webkit-box-shadow: 0 0 5px 2px #ebebeb;
          box-shadow: 0 0 5px 2px #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 5% 0% 4% 10%;
}

@media only screen and (max-width: 720px) {
  .cards .sections-wrapper .content-middle {
    padding: 5% 1% 4% 6%;
  }
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5% 5% 3% 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.cards .sections-wrapper .content-middle .content-text-right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
  line-height: 25px;
}

@media only screen and (max-width: 720px) {
  .cards .sections-wrapper .content-middle .content-text-right {
    width: 40%;
  }
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content-middle .content-text-right {
    width: 95%;
    margin: 0px;
    padding: 0px;
  }
}

.cards .sections-wrapper .content-middle .content-text-right .section-title {
  color: #00252e;
  font-weight: bold;
  font-size: 26px;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content-middle .content-text-right .section-title {
    font-size: 22px;
  }
}

.cards .sections-wrapper .content-middle .content-text-right .content-more {
  color: #808d99;
  font-size: 15px;
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content-middle .content-text-right .content-more {
    margin-top: 0px;
  }
}

.cards .sections-wrapper .content-middle .content-img-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .cards .sections-wrapper .content-middle .content-img-left {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content-middle .content-img-left {
    margin: 0px;
    width: 90%;
  }
}

.cards .sections-wrapper .content-middle .content-img-left .img-cards-left {
  width: 90%;
}

@media only screen and (max-width: 720px) {
  .cards .sections-wrapper .content-middle .content-img-left .img-cards-left {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .cards .sections-wrapper .content-middle .content-img-left .img-cards-left {
    margin-bottom: 20px;
  }
}

.mega-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mega-wrapper .footer-sign-wrapper {
  -webkit-box-shadow: 0 0 2px 2px #ebebeb;
          box-shadow: 0 0 2px 2px #ebebeb;
  background-color: white;
  width: 40%;
  border-radius: 15px;
  padding: 4% 3% 4% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  top: 70px;
  z-index: 1;
}

@media only screen and (max-width: 720px) {
  .mega-wrapper .footer-sign-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: 320px) {
  .mega-wrapper .footer-sign-wrapper {
    width: 87%;
    padding: 4% 3% 8% 3%;
    top: 100px;
  }
}

.mega-wrapper .footer-sign-wrapper .sign-title {
  color: #00252e;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (max-width: 320px) {
  .mega-wrapper .footer-sign-wrapper .sign-title {
    font-size: 16px;
  }
}

.mega-wrapper .footer-sign-wrapper .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mega-wrapper .footer-sign-wrapper .button-wrapper .getstartedbtn-large {
  background-color: #ff52bf;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  width: 280px;
  padding: 3% 10%;
  -webkit-box-shadow: 0px 5px 5px #d3d3d3;
          box-shadow: 0px 5px 5px #d3d3d3;
}

.mega-wrapper .footer-sign-wrapper .button-wrapper .getstartedbtn-large:focus {
  outline: none;
}

@media only screen and (max-width: 320px) {
  .mega-wrapper .footer-sign-wrapper .button-wrapper .getstartedbtn-large {
    width: 70%;
  }
}

.footer {
  width: 100%;
}

.footer .last-section-wrapper {
  background-color: #00252e;
  padding: 10% 10% 0px 15%;
  color: white;
}

@media only screen and (max-width: 920px) {
  .footer .last-section-wrapper {
    padding: 15% 0% 0% 10%;
  }
}

@media only screen and (max-width: 720px) {
  .footer .last-section-wrapper {
    padding: 20% 0% 0% 5%;
  }
}

@media only screen and (max-width: 320px) {
  .footer .last-section-wrapper {
    padding: 30% 0% 0% 4%;
    margin-top: 50px;
  }
}

.footer .last-section-wrapper .footer-logo-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .last-section-wrapper .footer-logo-wrapper .footer-logo {
  height: 39px;
}

.footer .last-section-wrapper .footer-logo-wrapper .footer-logo path {
  fill: white;
}

.footer .last-section-wrapper .bottom-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 10% 0px 0px;
}

@media only screen and (max-width: 720px) {
  .footer .last-section-wrapper .bottom-options {
    padding: 5% 3% 0px 0px;
  }
}

@media only screen and (max-width: 320px) {
  .footer .last-section-wrapper .bottom-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8% 3% 0% 0%;
  }
}

.footer .last-section-wrapper .bottom-options .contact-wrapper {
  width: 40%;
}

@media only screen and (max-width: 320px) {
  .footer .last-section-wrapper .bottom-options .contact-wrapper {
    width: 95%;
  }
}

.footer .last-section-wrapper .bottom-options .contact-wrapper .contact-info {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer .last-section-wrapper .bottom-options .contact-wrapper .contact-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.footer .last-section-wrapper .bottom-options .contact-wrapper .contact-info li .data-icon {
  height: 100%;
  width: 18px;
}

.footer .last-section-wrapper .bottom-options .contact-wrapper .contact-info li p {
  margin: 0;
  padding-left: 10%;
  line-height: 25px;
  font-family: 'Poppins', sans-serif;
}

.footer .last-section-wrapper .bottom-options .links-wrapper .links-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding-left: 15px;
}

@media only screen and (max-width: 320px) {
  .footer .last-section-wrapper .bottom-options .links-wrapper .links-list {
    padding: 0px;
  }
}

.footer .last-section-wrapper .bottom-options .links-wrapper .links-list .footer-links {
  color: white;
  text-decoration: none;
}

.footer .last-section-wrapper .bottom-options .links-wrapper .links-list .footer-links li {
  padding-bottom: 15px;
}

.footer .last-section-wrapper .bottom-options .links-wrapper .links-list .footer-links li:hover {
  color: #ff52bf;
}

.footer .last-section-wrapper .bottom-options .smlinks-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 320px) {
  .footer .last-section-wrapper .bottom-options .smlinks-wrapper {
    margin: 30px 0px 20px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .last-section-wrapper .bottom-options .smlinks-wrapper .sm-link {
  font-family: 'Poppins', sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: block;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.footer .last-section-wrapper .bottom-options .smlinks-wrapper .sm-link:hover {
  color: #ff52bf;
  border-color: #ff52bf;
}

.copyright-wrapper {
  background-color: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
  color: white;
  padding-right: 10%;
}

@media only screen and (max-width: 720px) {
  .copyright-wrapper {
    padding-right: 4%;
  }
}

@media only screen and (max-width: 320px) {
  .copyright-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.challenge-data {
  background-color: #00252e;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challenge-data .frontend-mentor {
  text-decoration: none;
  color: #ff52bf;
}
/*# sourceMappingURL=styles.css.map */